body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.review-btn {
  margin: 15px;
}
.MovieGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-gap: 1em;
  padding: 0.5em;
  
}

/* .MovieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
  position: relative;
} */

.MovieCard {
  border-radius: 6px;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: darkslategray;
  color: white;
  height:auto;
  width: 100%;
}

.ReviewCard {
 height: 90px;
 width: 600px;
 color: black;
}
.ReviewCard:hover{
  font-size: large;
  color:white;
  
}
.poster:hover
{
  filter: brightness(30%);
}
/* .postercontainer {
  width: 25vw;
  height: 70vh;
  padding: 10px;
  position: relative;
} */

.poster {
  /* padding: 10px; */
  position: relative;
  /* height: 70vh;
  width: 25vw; */
}

.text {
  position: relative;
  font-size: 1em;
  min-width: 2px;
}
