body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.review-btn {
  margin: 15px;
}

.MovieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
}

.MovieCard {
  display: flex;
  flex-direction: grid;
  height: 70vh;
  width: 50vw;
  padding: 10px;
  position: relative;
}

.postercontainer {
  width: 25vw;
  height: 70vh;
  padding: 10px;
  position: relative;
}

.poster {
  width: 20vw;
  height: 60vh;
  padding: 10px;
  position: relative;
}

.text {
  width: 20vw;
  height: 60vh;
  position: relative;
}
